<div th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a th:href="@{/home}" class="logo d-flex align-items-center">
                <h1 class="sitename">OnMeet</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a th:href="@{/home}" class="active">Trang chủ</a></li>
                    <li><a href="#about">Giới thiệu</a></li>
                    <li><a href="#schedule">Lịch họp</a></li>
                    <li><a href="#speakers">Phòng họp</a></li>
                    <li><a th:href="@{/venue}">Lịch sử cuộc họp</a></li>
                    <li class="dropdown"><a href="#"><span>Sự kiện</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a th:href="@{/speaker-details}">Sự kiện của tôi</a></li>
                            <li><a th:href="@{/buy-tickets}">Danh sách hội trường</a></li>
                            <li><a th:href="@{/terms}">Danh sách sự kiện</a></li>
                            <li><a th:href="@{/privacy}">Quy Định</a></li>
                        </ul>
                    </li>
<!--                    <li class="dropdown"><a href="#"><span>Quản lý cuộc họp</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>-->
<!--                        <ul>-->
<!--                            <li><a href="#">Dropdown 1</a></li>-->
<!--                            <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Deep Dropdown 1</a></li>-->
<!--                                    <li><a href="#">Deep Dropdown 2</a></li>-->
<!--                                    <li><a href="#">Deep Dropdown 3</a></li>-->
<!--                                    <li><a href="#">Deep Dropdown 4</a></li>-->
<!--                                    <li><a href="#">Deep Dropdown 5</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a href="#">Dropdown 2</a></li>-->
<!--                            <li><a href="#">Dropdown 3</a></li>-->
<!--                            <li><a href="#">Dropdown 4</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li><a th:href="@{/contact}">Liên hệ</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" th:href="@{/buy-tickets}">Đăng nhập</a>

        </div>
    </header>
</div>


